---
title: "EXTERNAL: VSP-PVEPKM-T-G-00381 / 2.1.1 / 02-E100: FEED Verification"
date: 2026-06-19
time: "17:14"
from: "Khánh Mỹ Đầm Dơi <km.app.docpro@pvep.com.vn>"
to: "hanhpth@pvep.com.vn"
folder: "KMDD/DocPro"
tags: [email]
attachments: [
  - "VSP-PVEPKM-T-G-00381_Transmittal Cover Sheet.xlsm"
]
---

# EXTERNAL: VSP-PVEPKM-T-G-00381 / 2.1.1 / 02-E100: FEED Verification

**From:** Khánh Mỹ Đầm Dơi <km.app.docpro@pvep.com.vn>
**To:** hanhpth@pvep.com.vn
**Date:** 2026-06-19 17:14
**Attachments:** VSP-PVEPKM-T-G-00381_Transmittal Cover Sheet.xlsm  

---

**CAUTION: This email originated from outside your organization. Exercise caution when opening attachments or on clicking links from unknown senders.**   


Dear All,

Please find the transmittal No. **VSP-PVEPKM-T-G-00381** on DOC PRO for your review / approval & further action as the link below:

[VSP-PVEPKM-T-G-00381](http://10.32.5.50:8090/Controls/Document/OwnerTransmittalList.aspx?TransNoContractor=VSP-PVEPKM-T-G-00381)

  
No.| Doc. / DWG. No.| Rev.| Description| Remark  
---|---|---|---|---  
1| KDP-OOO-03-RP-G-0002| E0| FEED Verification Report|   
| -End-| | |   
  


_Thanks & Best Regards_
---
**Links:** [[Khánh Mỹ Đầm Dơi]] | [[KMDD]] | [[DocPro]] | [[email]]