---
title: "EXTERNAL: VSP-PVEPKM-T-S-00388 / 2.1.1 / 02-E100: FEED Verification"
date: 2026-06-22
time: "10:45"
from: "Khánh Mỹ Đầm Dơi <km.app.docpro@pvep.com.vn>"
to: "hanhpth@pvep.com.vn"
folder: "KMDD/DocPro"
tags: [email]
attachments: [
  - "VSP-PVEPKM-T-S-00388_Transmittal Cover Sheet.xlsm"
]
---

# EXTERNAL: VSP-PVEPKM-T-S-00388 / 2.1.1 / 02-E100: FEED Verification

**From:** Khánh Mỹ Đầm Dơi <km.app.docpro@pvep.com.vn>
**To:** hanhpth@pvep.com.vn
**Date:** 2026-06-22 10:45
**Attachments:** VSP-PVEPKM-T-S-00388_Transmittal Cover Sheet.xlsm  

---

**CAUTION: This email originated from outside your organization. Exercise caution when opening attachments or on clicking links from unknown senders.**   


Dear All,

Please find the transmittal No. **VSP-PVEPKM-T-S-00388** on DOC PRO for your review / approval & further action as the link below:

[VSP-PVEPKM-T-S-00388](http://10.32.5.50:8090/Controls/Document/OwnerTransmittalList.aspx?TransNoContractor=VSP-PVEPKM-T-S-00388)

  
No.| Doc. / DWG. No.| Rev.| Description| Remark  
---|---|---|---|---  
1| KDP-KMA-03-DW-S-2009.02| D0| KM-WHP Topsides Standard Details-Lug and Deck Drain Sheet 02|   
2| KDP-DDA-03-DW-S-2009.02| D0| DD-WHP Topsides Standard Details-Lug and Deck Drain Sheet 02|   
3| KDP-KMA-03-DW-S-2008.02| D0| KM-WHP Topsides Standard Details-Plating and Grating Sheet 02|   
4| KDP-DDA-03-DW-S-2009.01| D0| DD-WHP Topsides Standard Details-Lug and Deck Drain Sheet 01|   
5| KDP-KMA-03-DW-S-2009.01| D0| KM-WHP Topsides Standard Details-Lug and Deck Drain Sheet 01|   
6| KDP-KMA-03-DW-S-2011.02| D0| KM-WHP Topsides Standard Details-Stairway Sheet 2|   
7| KDP-KMA-03-DW-S-2011.01| D0| KM-WHP Topsides Standard Details-Stairway Sheet 1|   
8| KDP-KMA-03-DW-S-2113| D0| KM-WHP Topsides Main Deck Joint Details Sheet 4|   
9| KDP-KMA-03-DW-S-2112| D0| KM-WHP Topsides Main Deck Joint Details Sheet 3|   
10| KDP-DDA-03-DW-S-2011.01| D0| DD-WHP Topsides Standard Details-Stairway Sheet 1|   
11| KDP-DDA-03-DW-S-2008.01| D0| DD-WHP Topsides Standard Details-Plating and Grating Sheet 01|   
12| KDP-DDA-03-DW-S-2112| D0| DD-WHP Topsides Main Deck Joint Details Sheet 3|   
13| KDP-KMA-03-DW-S-2008.01| D0| KM-WHP Topsides Standard Details-Plating and Grating Sheet 01|   
14| KDP-KMA-03-DW-S-2219| D0| KM-WHP Topsides Stairway No.1 Layout, Section and Details|   
15| KDP-DDA-03-DW-S-2011.02| D0| DD-WHP Topsides Standard Details-Stairway Sheet 2|   
| -End-| | |   
  


_Thanks & Best Regards_
---
**Links:** [[Khánh Mỹ Đầm Dơi]] | [[KMDD]] | [[DocPro]] | [[email]]